# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Datasets / large files
data/
datasets/
*.csv
*.npy
*.pt
*.h5

# Logs
logs/
*.log

# OS / editor files
.DS_Store
.vscode/
.idea/

edf_viewer_NMT_old.py
main_window_NMT_old.py
main_window.py
visualize_heatmap.py
gazeTrackingNodejs/
vosk-model-small-en-us-0.15/